<div>
<mat-card style="left: 3%; margin-top: 10px;width: 94%;  text-align: center;   margin: 0px 0%;">
    <div>
        <mat-form-field class="example-full-width" style="text-align: center;">
          <input matInput placeholder="Star Number"  [(ngModel)]="starNumber">
        </mat-form-field>
        <button style="margin-left: 20px" mat-raised-button color="primary"  (click)="SearchCourse()">Search</button>
      </div>
      
    
      
        <!-- <mat-option>None</mat-option>
            <mat-option value="fall">Fall</mat-option>
            <mat-option value="spring">Spring</mat-option>
            <mat-option value="summer">Summer</mat-option>
          </mat-select> -->
          <select matNativeControl required style="width: 10%;" (change)="onChangeEvent($event)">
            <option value="fall">Fall</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="all">All</option>
           
          </select>
          <!-- <button style="margin-left: 20px" mat-raised-button color="primary" style="border-radius: 28px;" >Filter</button> -->
     
      <div *ngIf='CourseTitle!="NA"'>
       <p> <span style="font-weight: 100;
        color: #82807e;">Course Title: </span><span> {{CourseTitle}}({{C_Short}})</span></p>
          <p> <span style="font-weight: 100;
            color: #82807e;">Instructor: </span><span> {{Instructor}}</span></p>
              <p> <span style="font-weight: 100;
                color: #82807e;">Department: </span><span> {{Department}}</span></p>
      </div>
      <hr style="margin-left: 15%;
      margin-right: 15%;
      margin-top: 4%;">
          <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="timer"
        >
          <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
          <br>
          <br>
          <br>
          <br>

          <p style="font-size: 20px; color: white" (click)="cancelLoading()">X</p>
        </ngx-spinner>
      <mat-grid-list cols="8" rowHeight="1:1" rowHeight="50px" style="    background: #673ab6;
color: white;">
<table class="uk-table uk-table-striped">
    <thead>
        <tr style="background: #6739b7;">
            <th style="text-align: center;color: white;">Course Title</th>
            <th style="text-align: center;color: white;">Exam ID</th>
            <th style="text-align: center;color: white;">Exam Time</th>
            <th style="text-align: center;color: white;">Start Date</th>
            <th style="text-align: center;color: white;">End Date</th>
            <th style="text-align: center; width: 60px;color: white;" >Type</th>
            <th style="text-align: center; width: 40px;color: white;">Edit</th>
            <th style="width: 40px;">Delete</th>
           
        </tr>
       
    </thead>
    <tbody>
            <tr  *ngFor="let data of ExamDetails;let i=index"  [ngStyle]="{'background':setMyStyles(i)}" style="    background: #f5f5f5;
            color: #060606;">
                    <td style="float: left;">{{data.star}}: {{data.c_short}}-{{data.section}}: {{data.c_title}} <span style="font-size: 13px;
                        font-weight: 300;">({{data.instructor}})</span></td>
                    <td>Exam {{data.examId}}</td>
                    <td>{{data.examTime}} Min</td>
                    <td>{{data.startDate}}</td>
                    <td>{{data.endDate}}</td>
                    <td>{{data.examType}}</td>
                    <td><span><img src="assets/imgs/pencil.png" style="height:20px;margin-left: 10px; " uk-toggle="target: #editExam" (click)='EditExam(i,data.id,data.examId)'></span></td>
                    <td><img src="https://image.flaticon.com/icons/svg/395/395848.svg" width="20px" height="20px" uk-toggle="target: #deleteExam" (click)='EditExam(i,data.id,data.examId)' ></td> 
                    <div id="deleteExam" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body" style="width:33%;border-radius:10px">
                                <h2 class="uk-modal-title" style="font-size:20px">Do You really Want to Delete?</h2>
                        
                                   <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <button class="uk-button uk-button-default uk-modal-close" style="color:white; background: #673AB7" (click)='DeleteExamSchedule(data.id)'  type="button">Yes</button>
                                </p>
                            </div>
                        </div>
                        <div id="editExam" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title" style="    font-size: 25px;
                                    font-weight: 200;
                                    text-align: center;">Please Enter Details Which You want to Update <br>( {{CourseShort}}: Exam {{ExamNo}})</h2>
                                 
                                 <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text" >Exam Number</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='ExamNo'  >
                                    </div>
                                </div>
                                      <div class="uk-margin">
                                          <label class="uk-form-label" for="form-horizontal-text" >Exam Time(Min)</label>
                                          <div class="uk-form-controls">
                                              <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='ExamTime'  >
                                          </div>
                                      </div>
                                      <div class="uk-margin">
                                          <label class="uk-form-label" for="form-horizontal-text">Start Date</label>
                                          <div class="uk-form-controls">
                                              <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='StartDate' >
                                          </div>
                                      </div>
                                      <div class="uk-margin">
                                          <label class="uk-form-label" for="form-horizontal-text">End Date</label>
                                          <div class="uk-form-controls">
                                              <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='EndDate' >
                                          </div>
                                      </div>
                                      <div class="uk-margin">
                                          <label class="uk-form-label" for="form-horizontal-select">Exam Type</label>
                                          <div class="uk-form-controls">
                                              <select class="uk-select" id="form-horizontal-select" [(ngModel)]='ExamType'>
                                                  <option value='Online'>Online</option>
                                                  <option value="Paper">Paper</option>
                                                  <option value="Both">Both</option>
                                              </select>
                                          </div>
                                      </div>
                                      <!-- <div class="uk-margin">
                                          <label class="uk-form-label" for="form-horizontal-text">Note</label>
                                          <div class="uk-form-controls">
                                              
                                              <textarea matInput placeholder="Leave a comment" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
                                          </div>
                                      </div> -->
                                      <div class="uk-form-controls">
                                <textarea class="uk-textarea" type="text" rows="5" placeholder="Textarea" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
                               
                            </div>
                                      <!-- <mat-form-field class="example-full-width">
                                          <textarea matInput placeholder="Leave a comment" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
                                        </mat-form-field> -->
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary uk-modal-close" (click)='UpdateExamSchedule()' type="button">Update</button>
                                    </p>
                                </div>
                            </div>
                </tr>
        </tbody>
</table>
<!-- <mat-grid-tile>Course Title</mat-grid-tile>
<mat-grid-tile>Exam ID</mat-grid-tile>
<mat-grid-tile>Exam Time</mat-grid-tile>
  <mat-grid-tile>Start Date</mat-grid-tile>
  <mat-grid-tile>End Date</mat-grid-tile>
  <mat-grid-tile>Exam Type</mat-grid-tile>
  <mat-grid-tile>Edit</mat-grid-tile>
  <mat-grid-tile>Delete</mat-grid-tile> -->

  <!-- <td>{{data.star}}:{{data.c_short}}:{{data.c_title}}</td>
                    <td>Exam {{data.examId}}</td>
                    <td>{{data.examTime}} Min</td>
                    <td>{{data.startDate}}</td>
                    <td>{{data.endDate}}</td>
                    <td>{{data.examType}}</td>
                    <td>Edit</td>
                    <td>Delete</td> -->
</mat-grid-list>

    <div *ngFor="let data of ExamDetails;let i=index">
      <!-- <mat-grid-list class="flex-container" cols="8" rowHeight="1:1"  rowHeight="70px" style="font-weight: 200;" *ngIf="data.c_title!=''" [ngStyle]="{'background':getBgColor(i)}" >
          <mat-grid-tile class="flex-item"  >{{data.star}}:{{data.c_short}}:{{data.c_title}}</mat-grid-tile>
          <mat-grid-tile class="flex-item"  >Exam {{data.examId}}</mat-grid-tile>
          <mat-grid-tile class="flex-item"  >{{data.examTime}} Min</mat-grid-tile>
        <mat-grid-tile class="flex-item"  >{{data.startDate}}</mat-grid-tile>
        <mat-grid-tile class="flex-item"  >{{data.endDate}}</mat-grid-tile>
        <mat-grid-tile class="flex-item"  >{{data.examType}}</mat-grid-tile>
        <mat-grid-tile class="flex-item" style="width: 40px;"><span><img src="assets/imgs/pencil.png" style="height:20px;margin-left: 10px; " uk-toggle="target: #editExam" (click)='EditExam(i,data.id,data.examId)'></span></mat-grid-tile>
        <mat-grid-tile class="flex-item" style="width: 40px;"> <img src="https://image.flaticon.com/icons/svg/395/395848.svg" width="20px" height="20px" uk-toggle="target: #deleteExam" (click)='EditExam(i,data.id,data.examId)' ></mat-grid-tile>
      </mat-grid-list> -->
      <div id="deleteExam" uk-modal>
            <div class="uk-modal-dialog uk-modal-body" style="width:33%;border-radius:10px">
                <h2 class="uk-modal-title" style="font-size:20px">Do You really Want to Delete?</h2>
        
                   <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-default uk-modal-close" style="color:white; background: #673AB7" (click)='DeleteExamSchedule(data.id)'  type="button">Yes</button>
                </p>
            </div>
        </div>
      <div id="editExam" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title" style="    font-size: 25px;
              font-weight: 200;
              text-align: center;">Please Enter Details Which You want to Update <br>( {{CourseShort}}: Exam {{ExamNo}})</h2>
           
           <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text" >Exam Number</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='ExamNo'  >
              </div>
          </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text" >Exam Time(Min)</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='ExamTime'  >
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Start Date</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='StartDate' >
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">End Date</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]='EndDate' >
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Exam Type</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-horizontal-select" [(ngModel)]='ExamType'>
                            <option value='Online'>Online</option>
                            <option value="Paper">Paper</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Note</label>
                    <div class="uk-form-controls">
                        
                        <textarea matInput placeholder="Leave a comment" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
                    </div>
                </div> -->
                <div class="uk-form-controls">
          <textarea class="uk-textarea" type="text" rows="5" placeholder="Textarea" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
         
      </div>
                <!-- <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment" [(ngModel)]='Note' placeholder="{{Note}}"></textarea>
                  </mat-form-field> -->
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-primary uk-modal-close" (click)='UpdateExamSchedule()' type="button">Update</button>
              </p>
          </div>
      </div>
    </div>



  </mat-card>
 
</div>
