:host{


  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


  
  body {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
  }
  
  /* div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  

  .c_lable{
    color:#88898a;
    font-weight: 200;

  }
  .c_span{
    padding: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  /* .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  } */
 
 
 