<!-- <div style="margin: 4%">
        <span>Student Name</span>
        <span style="    margin-left: 35px;padding: 6px;font-size: 11px;
        background: aqua;">8:30</span>
        <span style="padding: 6px;
        font-size: 11px;
        background: aqua;">8:45</span>
          <span style="padding: 6px;
          font-size: 11px;
          background: aqua;">9:00</span>
            <span style="padding: 6px;
            font-size: 11px;
            background: aqua;">9:15</span>
              <span style="padding: 6px;
              font-size: 11px;
              background: aqua;">9:30</span>
                <span style="padding: 6px;
                font-size: 11px;
                background: aqua;">9:45</span>
                  <span style="padding: 6px;
                  font-size: 11px;
                  background: aqua;">10:00</span>
                    <span style="padding: 6px;
                    font-size: 11px;
                    background: aqua;">10:15</span>
                      <span style="padding: 6px;
                      font-size: 11px;
                      background: aqua;">10:30</span>
                        <span style="padding: 6px;
                        font-size: 11px;
                        background: aqua;">10:45</span>
                          <span style="padding: 6px;
                          font-size: 11px;
                          background: aqua;">11:00</span>
                            <span style="padding: 6px;
                            font-size: 11px;
                            background: aqua;">11:15</span>
                              <span style="padding: 6px;
                              font-size: 11px;
                              background: aqua;">11:30</span>
                                <span style="padding: 6px;
                                font-size: 11px;
                                background: aqua;">11:45</span>
                                  <span style="padding: 6px;
                                  font-size: 11px;
                                  background: aqua;">12:00</span>
                                    <span style="padding: 6px;
                                    font-size: 11px;
                                    background: aqua;">13:00</span>
                                     <span style="padding: 6px;
                                     font-size: 11px;
                                     background: aqua;">13:15</span>
                                      <span style="padding: 6px;
                                      font-size: 11px;
                                      background: aqua;">13:30</span>
                                       <span style="padding: 6px;
                                       font-size: 11px;
                                       background: aqua;">13:45</span>
                                        <span style="padding: 6px;
                                        font-size: 11px;
                                        background: aqua;">14:00</span>
                                         <span style="padding: 6px;
                                         font-size: 11px;
                                         background: aqua;">14:15</span>
                                          <span style="padding: 6px;
                                          font-size: 11px;
                                          background: aqua;">14:30</span>
                                           <span style="padding: 6px;
                                           font-size: 11px;
                                           background: aqua;">14:45</span>
                                            <span style="padding: 6px;
                                            font-size: 11px;
                                            background: aqua;">15:00</span>
                                                  <span style="padding: 6px;
                                                  font-size: 11px;
                                                  background: aqua;">15:15</span>
                                                        <span style="padding: 6px;
                                                        font-size: 11px;
                                                        background: aqua;">15:30</span>
                                                              <span style="padding: 6px;
                                                              font-size: 11px;
                                                              background: aqua;">15:45</span>
                                                                    <span style="padding: 6px;
                                                                    font-size: 11px;
                                                                    background: aqua;">16:00</span>
                                                                     <span style="padding: 6px;
                                                                     font-size: 11px;
                                                                     background: aqua;">16:15</span>
                                                                      <span style="padding: 6px;
                                                                      font-size: 11px;
                                                                      background: aqua;">16:30</span>

  </div> -->
<h3 style="text-align: center;">Exam Scheduler Time Graph<br><span style="font-weight: 100;
  font-size: 20px;">{{DateToSearch}}</span></h3>
  <table style="width:100%">
      <tr>
        <th class="headerCol">Student Name</th>
        <th>8:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[0].A}})</span></th> 
        <th>8:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[1].A}})</span></th>
        <th>9:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[2].A}})</span></th> 
        <th>9:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[3].A}})</span></th>
        <th>9:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[4].A}})</span></th> 
        <th>9:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[5].A}})</span></th>
        <th>10:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[6].A}})</span></th> 
        <th>10:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[7].A}})</span></th>
        <th>10:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[8].A}})</span></th> 
        <th>10:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[9].A}})</span></th>
        <th>11:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[10].A}})</span></th> 
        <th>11:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[11].A}})</span></th>
        <th>11:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[12].A}})</span></th> 
        <th>11:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[13].A}})</span></th>
        <th>12:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[14].A}})</span></th> 
        <!-- <th>12:15</th>
        <th>12:30</th> 
        <th>12:45</th>-->
        <th>13:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[15].A}})</span></th> 
        <th>13:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[16].A}})</span></th> 
        <th>13:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[17].A}})</span></th> 
        <th>13:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[18].A}})</span></th>
        <th>14:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[19].A}})</span></th> 
        <th>14:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[20].A}})</span></th>
        <th>14:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[21].A}})</span></th> 
        <th>14:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[22].A}})</span></th>
        <th>15:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[23].A}})</span></th> 
        <th>15:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[24].A}})</span></th>
        <th>15:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[25].A}})</span></th> 
        <th>15:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[26].A}})</span></th>
        <th>16:00<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[27].A}})</span></th>
        <th>16:15<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[28].A}})</span></th>
        <th>16:30<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[29].A}})</span></th> 
        <th>16:45<br><span style="font-weight: 100;
          color: #0000008a;">({{SlotAvailable[30].A}})</span></th> 
       
      </tr>

     <tr *ngFor="let data of StudentTimeData;let i=index">
        <td style="font-weight: lighter;font-size: 15px;
        font-weight: 400;">{{data.studentName}}<div><span style="font-size: 11px;margin-top: -6px;
    font-weight: 100;">{{data.cshort}}(Exam {{data.cid}})</span></div></td>
        <td *ngIf="data.a==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.b==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.c==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.d==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.e==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.f==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.g==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.h==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.i==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.j==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.k==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.l==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.m==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.n==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.o==1;else blank" style="background: #FFC107;
        color: white;"></td>

         <!-- <td  style="background: #fff;
         color: white;">0</td>
          <td  style="background: #fff;
          color: white;">0</td>
           <td  style="background: #fff;
           color: white;">0</td>
            <td  style="background: #fff;
            color: white;">0</td> -->


        <td *ngIf="data.p==1;else blank" style="background: #FFC107;;
        color: white;"></td>
        <td *ngIf="data.q==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.r==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.s==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.t==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.u==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.v==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.w==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.x==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.y==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.z==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.aa==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <!-- <td *ngIf="data.a==1" style="background: #673ab7;
        color: white;">1</td> -->
        <td *ngIf="data.bb==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.cc==1;else blank" style="background: #FFC107;
        color: white;"></td>
        <td *ngIf="data.dd==1;else blank" style="background: #FFC107;
        color: white;"></td>
         <td *ngIf="data.ee==1;else blank" style="background: #FFC107;
         color: white;"></td>
        
      <ng-template #blank>
          <td></td>
      </ng-template>
      </tr>
    
    