:host{


    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  table, th, td {
    border: 1px solid #4c4b4b26;
    border-collapse: collapse;
  }
  .headerCol{
    background: #673AB7;
    color: white;
    font-weight: 200;
  }