
<div style="    width: 45%;">
    
  <mat-card style="left: 25%;">

    <div style="    background: #673ab6;
    margin: -16px;
    padding: 4px;
    color: white;
    font-weight: 200;">
    <p style="text-align:center;font-size: 20px;margin-top: 17px;">Book Exam Slot for Non WIU student</p>
  </div>
      <!-- <form class="uk-form-horizontal uk-margin-large"> -->
     
         
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text">Student Name</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Student Name" [(ngModel)]='s_name'>
              </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text">Student ID</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Student ID" [(ngModel)]='s_id'>
              </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text">Subject/Email</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Subject/Email" [(ngModel)]='s_email'>
              </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text">Student Phone</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Student Phone" [(ngModel)]='s_phone'>
              </div>
          </div>
          <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Subject/Course Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Subject/Course Name" [(ngModel)]='c_name'>
                </div>
            </div>
            <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">ExamType</label>
                    <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select" [(ngModel)]='examType'>
                                <option value='Online'>Online</option>
                                <option value="Paper">Paper</option>
                                <option value="Both">Both</option>
                            </select>
                        </div>
                </div>
          <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Note</label>
          <div class="uk-form-controls">

            <textarea class="uk-textarea" type="text" rows="5" placeholder="Textarea" [(ngModel)]='note' ></textarea>
           
        </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-text" >Enter Exam Time</label>
              <div class="uk-form-controls">
                  <input class="uk-input" id="form-horizontal-text" type="text" [(ngModel)]="ExamTime" placeholder="Some text...">
              </div>
          </div>
          <!-- <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-select">Select Exam Time</label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="form-horizontal-select">
                      <option>Option 01</option>
                      <option>Option 02</option>
                  </select>
              </div>
          </div> -->
          <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-select">Select Exam Date</label>
              <mat-form-field style="margin-left: 15px;">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]='picker_1'>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
         
          </div>
          <!-- <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-select">Select Exam Slot </label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="form-horizontal-select">
                      <option>Option 01</option>
                      <option>Option 02</option>
                  </select>
              </div>
          </div> -->
      
       <div style="text-align:center">
          <button mat-raised-button color="primary" uk-toggle="target: #modal-example" (click)='CheckSeats()'>Check Slot</button>
        </div>
       
        <!-- <mat-label>Select The Slot</mat-label>
        <mat-select>
          <mat-option *ngFor="let data of ExamStartSlot;let i=index" >
            {{ExamStartSlot[i]}} TO {{ExamEndSlot[i]}}
          </mat-option>
        </mat-select> -->
        <!-- <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Select Slot</label>
                <select class="uk-select" >
                    <div  *ngFor="let data of ExamStartSlot;let i=index">
                    <option>  {{ExamStartSlot[i]}} TO {{ExamEndSlot[i]}}</option>
                </div>
                </select>
            </div> -->
            <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body" style="text-align:center">
                            <hr>
                            <span style="font-weight:200">Seat Available On Date {{SelectedDate}}</span>
                            <hr>
                            <mat-grid-list cols="3" rowHeight="1:1" rowHeight="50px" style="    background: #673ab6;
                            color: white;">
                              <mat-grid-tile>Exam Time</mat-grid-tile>
                              <mat-grid-tile>Seat Available</mat-grid-tile>
                              <mat-grid-tile>Book Seat</mat-grid-tile>
                             
                            </mat-grid-list>
                            <div *ngFor="let data of ExamTimeSlot;let i =index">
                               
                            <mat-grid-list cols="3" rowHeight="1:1" rowHeight="50px" style="font-weight: 200;" *ngIf="CheckSlot(data.StartTime,data.EndTime)==1">
                              <mat-grid-tile >{{data.StartTime}} TO {{data.EndTime}}</mat-grid-tile>
                              <mat-grid-tile [ngStyle]="{'background':getSeatColor(data.Seat)}">{{data.Seat}}</mat-grid-tile>
                              <mat-grid-tile ><button class="uk-button uk-button-default uk-modal-close" type="button"  style="color:#009688" (click)=BookStudentExamSlot(data.StartTime,data.EndTime,SelectedDate)  >Book SlotI</button></mat-grid-tile>
                            </mat-grid-list>
                            
                    </div>
                    <hr >
<!-- <mat-checkbox (change)="addprop1($event)">Do you want Insert different Time Record!</mat-checkbox> -->
<div class="uk-margin">
  <p>Enter Start and End time Manually</p>
  <input class="uk-input uk-form-width-medium" type="text" placeholder="Start Time" style="width:20%" [(ngModel)]="startTime_Manual"> TO 
  <span style="margin-left: 20px;"><input class="uk-input uk-form-width-medium" type="text" placeholder="End Time" style="width:20%" [(ngModel)]="endTime_Manual"> </span>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="ManualTimeSave(SelectedDate)">Save</button>
</div>
                </div>
                
      </div>
      <!-- </form> -->
      
  </mat-card>
</div>