<!-- <section class="container">
  <div class="left-half">
    <article>
      <h1>Left Half</h1>
      <p>Weekends don't count unless you spend them doing something completely pointless.</p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <h1>Right Half</h1>
      <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
    </article>
  </div>
</section> -->

<mat-toolbar style="color: white;background: #673AB7; text-align: center">My App</mat-toolbar>
<mat-drawer-container class="example-container" [hasBackdrop]="false" >
  <mat-drawer style="width:18%;" #drawer mode="side" opened="true" >
    <div style="height:10%;background:#673ab6;padding: 10px;text-align: center;color: white;">
      <img mat-card-image src="http://www.wiu.edu/mascotmemorial/images/rocky-head.png" style="height: 50px;
      width: 50px;margin-left: 40%;
    margin-top: 4px;" alt="Photo of a Shiba Inu">ADMIN
    </div>
    <mat-list role="list" style="padding :0px"> 
     
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px">  <a routerLink="/bookExam" routerLinkActive="active">Schedule Exam</a></mat-list-item>
     
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/viewReservation" routerLinkActive="active">View Reservations</a></mat-list-item>
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/viewStudentReservation" routerLinkActive="active">View Student Reservations</a></mat-list-item>
      <!-- <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px">Class Managments</mat-list-item> -->
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/home" routerLinkActive="active">Add Exam</a></mat-list-item>
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/editexam" routerLinkActive="active">Edit Exam</a></mat-list-item>
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/studentDetails"routerLinkActive="active" >Student Details</a></mat-list-item>
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/nonWiuStudent" routerLinkActive="active">Non WIU Student</a></mat-list-item>
      <mat-list-item role="listitem" style="padding: 5%;margin-top: 2px;background: #f9f8f8;margin-top: 2px"><a routerLink="/settings" routerLinkActive="active">Settings</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
   
    <button mat-fab aria-label="Example icon-button with a heart icon" (click)="drawer.toggle()">
      <mat-icon>list</mat-icon>
    </button>
    <router-outlet></router-outlet>
   
  </mat-drawer-content>

</mat-drawer-container>

