/* Pen-specific styles */
html, body, section {
    height: 100%;
  }
  
  body {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: flex;
  }
  
  .left-half {
    background-color: #ff9e2c;
    flex: 1;
    padding: 1rem;
  }
  
  .right-half {
    background-color: #b6701e;
    flex: 1;
    padding: 1rem;
  }
  .c_lable{
    color:#88898a;

  }
  .c_span{
    padding: 10px;
  }
  .exam_form_label{
    font-size: 13px;
    color: #8e8d8c;
  }

  .example-container {
    width: 100%;
    height: 93%;
    
    
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 