<!-- <div style="margin: 4%">
        <span>Student Name</span>
        <span style="    margin-left: 35px;padding: 6px;font-size: 11px;
        background: aqua;">8:30</span>
        <span style="padding: 6px;
        font-size: 11px;
        background: aqua;">8:45</span>
          <span style="padding: 6px;
          font-size: 11px;
          background: aqua;">9:00</span>
            <span style="padding: 6px;
            font-size: 11px;
            background: aqua;">9:15</span>
              <span style="padding: 6px;
              font-size: 11px;
              background: aqua;">9:30</span>
                <span style="padding: 6px;
                font-size: 11px;
                background: aqua;">9:45</span>
                  <span style="padding: 6px;
                  font-size: 11px;
                  background: aqua;">10:00</span>
                    <span style="padding: 6px;
                    font-size: 11px;
                    background: aqua;">10:15</span>
                      <span style="padding: 6px;
                      font-size: 11px;
                      background: aqua;">10:30</span>
                        <span style="padding: 6px;
                        font-size: 11px;
                        background: aqua;">10:45</span>
                          <span style="padding: 6px;
                          font-size: 11px;
                          background: aqua;">11:00</span>
                            <span style="padding: 6px;
                            font-size: 11px;
                            background: aqua;">11:15</span>
                              <span style="padding: 6px;
                              font-size: 11px;
                              background: aqua;">11:30</span>
                                <span style="padding: 6px;
                                font-size: 11px;
                                background: aqua;">11:45</span>
                                  <span style="padding: 6px;
                                  font-size: 11px;
                                  background: aqua;">12:00</span>
                                    <span style="padding: 6px;
                                    font-size: 11px;
                                    background: aqua;">13:00</span>
                                     <span style="padding: 6px;
                                     font-size: 11px;
                                     background: aqua;">13:15</span>
                                      <span style="padding: 6px;
                                      font-size: 11px;
                                      background: aqua;">13:30</span>
                                       <span style="padding: 6px;
                                       font-size: 11px;
                                       background: aqua;">13:45</span>
                                        <span style="padding: 6px;
                                        font-size: 11px;
                                        background: aqua;">14:00</span>
                                         <span style="padding: 6px;
                                         font-size: 11px;
                                         background: aqua;">14:15</span>
                                          <span style="padding: 6px;
                                          font-size: 11px;
                                          background: aqua;">14:30</span>
                                           <span style="padding: 6px;
                                           font-size: 11px;
                                           background: aqua;">14:45</span>
                                            <span style="padding: 6px;
                                            font-size: 11px;
                                            background: aqua;">15:00</span>
                                                  <span style="padding: 6px;
                                                  font-size: 11px;
                                                  background: aqua;">15:15</span>
                                                        <span style="padding: 6px;
                                                        font-size: 11px;
                                                        background: aqua;">15:30</span>
                                                              <span style="padding: 6px;
                                                              font-size: 11px;
                                                              background: aqua;">15:45</span>
                                                                    <span style="padding: 6px;
                                                                    font-size: 11px;
                                                                    background: aqua;">16:00</span>
                                                                     <span style="padding: 6px;
                                                                     font-size: 11px;
                                                                     background: aqua;">16:15</span>
                                                                      <span style="padding: 6px;
                                                                      font-size: 11px;
                                                                      background: aqua;">16:30</span>

  </div> -->
<h3 style="text-align: center;">
  Tutoring Notes<br /><span style="font-weight: 100;
        font-size: 20px;">{{ DateToSearch }}</span>
</h3>

<table style="width:100%">
  <tr>
    <th class="headerCol">Course Name</th>
    <th class="headerCol">Exam Type</th>
    <th class="headerCol">Notes</th>
    <th class="headerCol">Count</th>
  </tr>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <tr *ngFor="let notes of FilterNoteDetails">
    <th>
      <span style="font-weight: 100;
              color: #0000008a;">{{ notes.courseName }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
              color: #0000008a;">{{ notes.examType }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
                color: #0000008a;">{{ notes.note }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
                color: #0000008a;">{{ notes.count }}</span>
    </th>
  </tr>
</table>