<div>
  <mat-card style="    left: 7%; margin-top: 10px;width: 80%;  text-align: center;   margin: 0px 0%;">
    <div>
      <span *ngIf="ShowData() == 1"><img src="https://image.flaticon.com/icons/svg/137/137624.svg"
          (click)="PrevDate(Picker)" style="height:35px;margin-right: 6%;transform: scaleX(-1.0);" /></span>

      <span>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="Picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button style="margin-left: 20px" mat-raised-button color="primary" (click)="getExamReservation(Picker)">
          Search
        </button>
      </span>
      <span *ngIf="ShowData() == 1"><img src="https://image.flaticon.com/icons/svg/137/137624.svg"
          style="height:35px;margin-left:6%" (click)="NextDate(Picker)" /></span>
    </div>

    <div *ngIf="ShowData() == 1">
      <hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 0%;" />
      <button style="margin-left: 20px" mat-raised-button color="primary" (click)="ShowGraph(Picker)">
        Show Graph
      </button>

      <button style="margin-left: 40px" mat-raised-button color="primary" (click)="ShowNotes(Picker)">
        Show notes
      </button>

      <mat-form-field style="margin-left: 60px">
        <mat-label>Exam type</mat-label>
        <select matNativeControl required [(ngModel)]="selectedGroup" (click)="getVal()">
          <option value="Both">Both</option>
          <option value="Online">Online</option>
          <option value="Paper">Paper</option>
        </select>
      </mat-form-field>

      <br />
      Student Tutoring Reservation on Date: {{ DateIs_ }}
      <br />
      <p *ngIf="GetNotSlotReturn() == 0">
        <span style="background-image: linear-gradient(to right, #F45C43 51%, #EB3349 100%);
        color: white;
        padding: 12px;
        border-radius: 23px;">Slot Closed Between
          <span style="    font-size: 20px;">{{ CloseStartTime }}</span> to
          <span style="    font-size: 20px;">{{ CloseEndTime }}</span></span>
      </p>
      <!-- <mat-radio-group aria-label="Select an option" (change)="radioChange($event)" >
    <mat-radio-button value="All" checked="checked">Show All</mat-radio-button>
    <mat-radio-button value="NotCompleted" style="    margin-left: 15px;
    margin-bottom: 10px;">Non Completed Exam</mat-radio-button>
  </mat-radio-group> -->
      <mat-grid-list cols="7" rowHeight="1:1" rowHeight="50px" style="background: #3ab67f;
color: white;">
        <!-- <mat-grid-tile>Slot</mat-grid-tile> -->
        <mat-grid-tile>Student Name</mat-grid-tile>
        <mat-grid-tile>ECOM Id</mat-grid-tile>
        <mat-grid-tile>Tutor Name</mat-grid-tile>
        <mat-grid-tile>Tutor ID</mat-grid-tile>
        <mat-grid-tile>Check In</mat-grid-tile>
        <mat-grid-tile>Check Out</mat-grid-tile>
        <mat-grid-tile>Cancel</mat-grid-tile>
      </mat-grid-list>
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>

      <div style="background: #d8d8d8;
          padding: 10px;
          color: black;height: 25px;" *ngIf="DisplayFirstTimer == 1">
        <p style="float:left">{{ FirstStartTimer }} TO {{ FirstEndTimer }}</p>
      </div>
      <div *ngFor="let examData of examReservationData; let i = index">
        <!-- <div *ngIf="ShowAllOrNotCondition=='All';else NotCompleted "> -->

        <div *ngIf="
            SetSlot(examData.StartTime, examData.EndTime) == 1;
            else blankSlot
          " style="background: #d8d8d8;
          padding: 10px;
          color: black;height: 25px;">
          <p style="float:left">
            {{ examData.StartTime }} To {{ examData.EndTime }}
          </p>
        </div>

        <ng-template #blankSlot>
          <div class="flex-item"></div>
        </ng-template>

        <mat-grid-list class="flex-container" cols="7" rowHeight="1:1" rowHeight="100px" style="font-weight: 200;"
          [ngStyle]="{ background: getBgColor(i, examData.star) }">
          <!-- <div *ngIf="SetSlot(examData.StartTime,examData.EndTime)==1;else blankSlot" > 
          <mat-grid-tile class="flex-item" >{{examData.StartTime}} To {{examData.EndTime}}</mat-grid-tile>
          <hr style="margin-left: 10%;
          margin-right: 10%;
          margin-top: 4%;">
        </div>
          <ng-template #blankSlot>
              <mat-grid-tile class="flex-item" ></mat-grid-tile>
            </ng-template> -->
          <mat-grid-tile style="margin-top: 0%;"><span (click)="AddNote(examData.s_wiuid)">{{
              examData.s_name
            }}</span>
            <span *ngIf="CheckStudentNote(examData.s_wiuid) == 0"><img
                src="https://image.flaticon.com/icons/svg/2138/2138540.svg" style="height: 25px;"
                (click)="ShowStudentNote(examData.s_wiuid)" /></span></mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;">{{
            examData.s_wiuid
          }}</mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;">
            {{ examData.courseName }}({{ examData.course_short }})<br />{{
              examData.instructor
            }}</mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;">Tutor {{ examData.cid
            }}<span style="    background-image: linear-gradient(to right, #DD2476 51%, #FF512F 100%);
            padding: 5p;
            margin-left: 8px;
            color: white;
            padding-left: 10px;
            border-radius: 19px;font-size:14px;
            padding-right: 10px;" *ngIf="examData.examType == 'Online'; else paper">{{ examData.examType }}</span>
            <ng-template #paper>
              <span style="    background-image: linear-gradient(to right, #00d2ff 51%, #3a7bd5 100%);
              padding: 5p;
              margin-left: 8px;
              color: white;
              padding-left: 10px;
              border-radius: 19px;font-size:14px;
              padding-right: 10px;">{{ examData.examType }}</span>
            </ng-template>
            <span *ngIf="examData.password" (click)="ShowPassword(i)"><img
                src="https://image.flaticon.com/icons/svg/1161/1161388.svg" style="    max-width: 22px;
            margin-right: 7px;" />
            </span>
          </mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;"><input type="checkbox" style="height: 15px;
            width: 15px;" (click)="StudentEntry('uncheck', examData.id, 'checkIn', i)" *ngIf="examData.checkIn != null"
              checked />
            <input type="checkbox" style="height: 15px;
            width: 15px;" (click)="
                StudentEntry(
                  'check',
                  examData.id,
                  'checkIn',
                  i,
                  examData.checkIn
                )
              " *ngIf="examData.checkIn == null || examData.checkIn == ''" />
            {{ examData.checkIn }}
            <span><img src="assets/imgs/pencil.png" style="height:20px;margin-left: 10px;"
                uk-toggle="target: #editCheckIn" (click)="EditCheckIn(examData.id)" /></span>
          </mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;"><input type="checkbox" style="height: 15px;
            width: 15px;" (click)="StudentEntry('uncheck', examData.id, 'chckOut', i)"
              *ngIf="examData.checkOut != null" checked />
            <input type="checkbox" style="height: 15px;
            width: 15px;" (click)="StudentEntry('check', examData.id, 'checkOut', i)"
              *ngIf="examData.checkOut == null || examData.checkIn == ''" />
            {{ examData.checkOut
            }}<span><img src="assets/imgs/pencil.png" style="height:20px;margin-left: 10px; "
                uk-toggle="target: #editCheckOut" (click)="EditCheckIn(examData.id)" /></span>
          </mat-grid-tile>
          <mat-grid-tile class="flex-item" matRipple [matRippleColor]="myColor" uk-toggle="target: #my-id"
            (click)="DeleteExamSchedule(examData.id)">
            <img data-src="https://image.flaticon.com/icons/svg/395/395848.svg" width="20px" height="20px" uk-img />
          </mat-grid-tile>

          <div id="editCheckIn" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">
                Please Enter CheckIn Time (24 Hours Fomat)
              </h2>
              <div style="text-align:center">
                <input class="uk-input uk-form-width-xsmall" type="number" placeholder="Hr" style="width: 11%;"
                  [(ngModel)]="CheckInHr" />
                <input class="uk-input uk-form-width-xsmall" type="number" placeholder="Min" style="width: 11%;"
                  [(ngModel)]="CheckInMin" />
              </div>

              <p style="text-align:center; font-family: monospace;
                    color: black;   margin-top: 4px;">
                <span>Hour</span><span style="    margin-left: 17px;">: Minute</span>
              </p>
              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">
                  Cancel
                </button>
                <button class="uk-button uk-button-primary uk-modal-close" (click)="EditCheckInPopUpConfirm()"
                  type="button">
                  Save
                </button>
              </p>
            </div>
          </div>

          <div id="editCheckOut" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">
                Please Enter CheckOut Time (24 Hours Format)
              </h2>
              <div style="text-align:center">
                <input class="uk-input uk-form-width-xsmall" type="number" placeholder="Hr" style="width: 11%;"
                  [(ngModel)]="CheckOutHr" />
                <input class="uk-input uk-form-width-xsmall" type="number" placeholder="Min" style="width: 11%;"
                  [(ngModel)]="CheckOutMin" />
              </div>

              <p style="text-align:center; font-family: monospace;
                    color: black;   margin-top: 4px;">
                <span>Hour</span><span style="    margin-left: 17px;">: Minute</span>
              </p>
              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">
                  Cancel
                </button>
                <button class="uk-button uk-button-primary uk-modal-close" (click)="EditCheckOutPopUpConfirm()"
                  type="button">
                  Save
                </button>
              </p>
            </div>
          </div>
          <div id="my-id" uk-modal>
            <div class="uk-modal-dialog uk-modal-body" style="width:33%;border-radius:10px">
              <h2 class="uk-modal-title" style="font-size:20px">
                Do You really Want to Delete?
              </h2>

              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">
                  Cancel
                </button>
                <button class="uk-button uk-button-default uk-modal-close" style="color:white; background: #673AB7"
                  (click)="DeleteExamSchedule_Popup()" type="button">
                  Yes
                </button>
              </p>
            </div>
          </div>
          <div *ngIf="ShowTimer[i] == 1">
            <div *ngIf="examData.checkIn != null && examData.checkOut == null"
              class="uk-overlay uk-overlay-default uk-position-bottom" [style.background]="BackgroundColorsForTimer[i]"
              (click)="setTime(i, examData.checkIn)">
              <p>
                <span style="background: #ffffffb5;
                  padding: 10px;float:right;
                  border-radius: 25px;"><span>Time Left: </span>
                  <countdown style="font-size: 25px;
                  font-family: monospace;" [config]="{
                      leftTime: leftMin[i] * 60,
                      notify: [300, 120, 600]
                    }" #cd1 (event)="PauseTimer(i, $event, examData.id)" (finished)="onFinished(i)"
                    (notify)="onNotify($event, i)">
                    $!h!:$!m!:$!s!</countdown><span></span>
                  <!-- <button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
                  <button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
                  <button (click)="cd1.stop()" class="btn btn-link btn-sm">stop</button>
                  <button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button> -->
                  <img data-src="https://image.flaticon.com/icons/svg/148/148745.svg" width="20px" height="20px"
                    style="margin:5px" uk-img *ngIf="examData.checkIn != null || examData.checkIn != ''"
                    (click)="StopTimer(i)" />
                  <img data-src="https://image.flaticon.com/icons/svg/339/339087.svg" width="20px" height="20px" uk-img
                    style="margin:5px" *ngIf="examData.checkIn != null || examData.checkIn != ''"
                    (click)="StudentEntry('uncheck', examData.id, 'checkIn', i)" />
                  <!-- <div *ngIf="getBtnEvent('pause')=='pause';else playBtn"> -->
                  <img data-src="https://image.flaticon.com/icons/svg/189/189639.svg" width="20px" height="20px" uk-img
                    style="margin:5px" *ngIf="examData.checkIn != null || examData.checkIn != ''"
                    (click)="cd1.pause()" />
                  <!-- </div> -->
                  <!-- <ng-template #playBtn> -->
                  <img data-src="https://image.flaticon.com/icons/svg/189/189638.svg" width="20px" height="20px" uk-img
                    style="margin:5px" *ngIf="examData.checkIn != null || examData.checkIn != ''"
                    (click)="cd1.resume()" />
                  <!-- </ng-template> -->
                </span>
              </p>
            </div>
          </div>
        </mat-grid-list>

        <p style="color: #6c6f6f;margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 200; white-space: pre-line" [ngStyle]="{ background: getBgColor(i, examData.star) }">
          {{ examData.note }}
          <span><a href="{{ examData.url }}" target="_blank">
              {{ examData.url }}
            </a></span>
        </p>
      </div>
    </div>
  </mat-card>
  <!-- <button mat-fab aria-label="Example icon-button with a heart icon" style="bottom: 0;
  position: absolute;
  right: 0;
  margin-bottom: 6%;
  margin-right: 6%;">
      <mat-icon>favorite</mat-icon>
    </button> -->
</div>
<!-- <countdown [config]="{leftTime:}{{leftMin}}">$!m!:$!s!</countdown> -->