<div>
    <mat-card style="    left: 7%; margin-top: 10px;width: 80%;  text-align: center;   margin: 0px 0%;">
     <div style="padding: 10px;
     margin-bottom: 13px;">
      <span style="font-size: 20px;
      /* font-family: auto; */
      font-weight: 300;">Find Student Infomation</span>
      </div>
     
      <!-- <span>
          
           
           
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Student Email" [(ngModel)]="email">
         
         
          <button style="margin-left: 20px" mat-raised-button color="primary"  (click)="getStudentDetails()">Search</button>
        </span>
         -->
        <span style="margin-left:20px;text-align: center;
        border-left: 0px solid #b3afaf;
        height: 62px;
        padding-left: 20px;">
             <input class="uk-input uk-form-width-medium" type="text" placeholder="Student Name" [(ngModel)]="sname">
            <button style="margin-left: 20px" mat-raised-button color="primary"  (click)="getStudentDetails()">Search</button>
          </span>
  
      <div *ngIf="show==1"><br>
        <hr style="margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;"> 
       Student Details 
        <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
        <br>
        <mat-grid-list cols="5" rowHeight="1:1" rowHeight="50px" style="    background: #3ab67f;
  color: white;">
   <mat-grid-tile>Profile</mat-grid-tile>
 
          <mat-grid-tile>Student Name</mat-grid-tile>  
          <mat-grid-tile>Ecom ID</mat-grid-tile>        
          <mat-grid-tile>Email</mat-grid-tile>
          <mat-grid-tile>Mobile</mat-grid-tile>
        </mat-grid-list>
  
        <div *ngFor="let studentDetails of StudentDetails;let i=index">
          <mat-grid-list class="flex-container" cols="5" rowHeight="1:1" rowHeight="100px" style="font-weight: 200;" [ngStyle]="{'background':getBgColor(i)}">
              <mat-grid-tile style="margin-top: 0%;"><img src="{{studentDetails.image}}" style="    height: 81px;
                border-radius: 11px;"></mat-grid-tile>
           
           <mat-grid-tile style="margin-top: 0%;">{{studentDetails.name}}</mat-grid-tile>
            <mat-grid-tile class="flex-item" >{{studentDetails.wiuId}}<span><img  (click)="copyData(studentDetails.wiuId)" src='assets/imgs/document.png' matRipple [matRippleColor]="myColor" style="height: 25px;
              background: #e4e4e4;
              padding: 4px;
              border-radius: 17px;
              margin-left: 10px;"></span></mat-grid-tile>
          
          
            <mat-grid-tile style="margin-top: 0%;">{{studentDetails.s_mail}}<span><img (click)="copyData(studentDetails.s_mail)" src='assets/imgs/document.png' matRipple [matRippleColor]="myColor" style="height: 25px;
              background: #e4e4e4;
              padding: 4px;
              border-radius: 17px;
              margin-left: 10px;"></span></mat-grid-tile>
            <mat-grid-tile style="margin-top: 0%;">{{studentDetails.mobile}}</mat-grid-tile>

        </mat-grid-list>
        </div>
     </div> 
    </mat-card>
    
  </div>